In [1]:
import pandas as pd
junk_data_wvals = {	'Sage Automotive Interiors' : 343,
					'Flexible Technologies' 	: 296,
					'Prysmian Cable Systems' 	: 215,
				  'Burnstein Precision Casting' : 182,
					'Pro Towels' 				: 83
					}

import numpy as np

In [9]:
dflist = {}
xlfile = pd.read_excel('/Users/kellyhess/LGDR/CountyStatData/laucnty17.xlsx')

xlfile = xlfile.iloc[5:,[1,3,6,7,8,9]].dropna()
xlfile = xlfile[xlfile.iloc[:,0] == '45']
xlfile = xlfile.drop(['Unnamed: 1'], axis  = 1)
xlfile.columns = ['County','LaborForce','Employed','Unemployed',
                              'Rate']
xlfile = xlfile.replace({'County': r' County, SC'},{'County' : ''}, regex =  True)
xlfile

            County LaborForce Employed Unemployed Rate
2320     Abbeville      10103     9640        463  4.6
2321         Aiken      74442    71386       3056  4.1
2322     Allendale       2741     2553        188  6.9
2323      Anderson      89559    86045       3514  3.9
2324       Bamberg       5230     4842        388  7.4
2325      Barnwell       8082     7594        488    6
2326      Beaufort      74104    71113       2991    4
2327      Berkeley      98452    94691       3761  3.8
2328       Calhoun       6848     6493        355  5.2
2329    Charleston     204937   197802       7135  3.5
2330      Cherokee      24094    22909       1185  4.9
2331       Chester      13592    12776        816    6
2332  Chesterfield      21621    20680        941  4.4
2333     Clarendon      12425    11683        742    6
2334      Colleton      16844    16036        808  4.8
2335    Darlington      29830    28247       1583  5.3
2336        Dillon      12574    11857        717  5.7
2337    Dorchester      74263    71413       2850  3.8
2338     Edgefield      10557    10075        482  4.6
2339     Fairfield      10045     9305        740  7.4
2340      Florence      65368    62379       2989  4.6
2341    Georgetown      25289    23893       1396  5.5
2342    Greenville     247585   238524       9061  3.7
2343     Greenwood      30880    29482       1398  4.5
2344       Hampton       8210     7843        367  4.5
2345         Horry     143389   136283       7106    5
2346        Jasper      12228    11783        445  3.6
2347       Kershaw      29130    27810       1320  4.5
2348     Lancaster      39127    37308       1819  4.6
2349       Laurens      30194    28869       1325  4.4
2350           Lee       6414     6027        387    6
2351     Lexington     147870   142516       5354  3.6
2352     McCormick       3385     3230        155  4.6
2353        Marion      12541    11611        930  7.4
2354      Marlboro       9257     8650        607  6.6
2355      Newberry      18491    17720        771  4.2
2356        Oconee      34315    32817       1498  4.4
2357    Orangeburg      35174    32669       2505  7.1
2358       Pickens      56658    54320       2338  4.1
2359      Richland     199987   191462       8525  4.3
2360        Saluda       8854     8507        347  3.9
2361   Spartanburg     146296   140420       5876    4
2362        Sumter      44112    41794       2318  5.3
2363         Union      11759    11129        630  5.4
2364  Williamsburg      12389    11603        786  6.3
2365          York     133410   128109       5301    4

In [4]:
dflist['test'] = xlfile
dflist['test2'] = 'some file'

In [7]:
for key, val in dflist.iteritems():
    print key
    print val

test
            County LaborForce Employed Unemployed Rate
2320     Abbeville      10103     9640        463  4.6
2321         Aiken      74442    71386       3056  4.1
2322     Allendale       2741     2553        188  6.9
2323      Anderson      89559    86045       3514  3.9
2324       Bamberg       5230     4842        388  7.4
2325      Barnwell       8082     7594        488    6
2326      Beaufort      74104    71113       2991    4
2327      Berkeley      98452    94691       3761  3.8
2328       Calhoun       6848     6493        355  5.2
2329    Charleston     204937   197802       7135  3.5
2330      Cherokee      24094    22909       1185  4.9
2331       Chester      13592    12776        816    6
2332  Chesterfield      21621    20680        941  4.4
2333     Clarendon      12425    11683        742    6
2334      Colleton      16844    16036        808  4.8
2335    Darlington      29830    28247       1583  5.3
2336        Dillon      12574    11857        717  5.7
2337    Dorchester      74263    71413       2850  3.8
2338     Edgefield      10557    10075        482  4.6
2339     Fairfield      10045     9305        740  7.4
2340      Florence      65368    62379       2989  4.6
2341    Georgetown      25289    23893       1396  5.5
2342    Greenville     247585   238524       9061  3.7
2343     Greenwood      30880    29482       1398  4.5
2344       Hampton       8210     7843        367  4.5
2345         Horry     143389   136283       7106    5
2346        Jasper      12228    11783        445  3.6
2347       Kershaw      29130    27810       1320  4.5
2348     Lancaster      39127    37308       1819  4.6
2349       Laurens      30194    28869       1325  4.4
2350           Lee       6414     6027        387    6
2351     Lexington     147870   142516       5354  3.6
2352     McCormick       3385     3230        155  4.6
2353        Marion      12541    11611        930  7.4
2354      Marlboro       9257     8650        607  6.6
2355      Newberry      18491    17720        771  4.2
2356        Oconee      34315    32817       1498  4.4
2357    Orangeburg      35174    32669       2505  7.1
2358       Pickens      56658    54320       2338  4.1
2359      Richland     199987   191462       8525  4.3
2360        Saluda       8854     8507        347  3.9
2361   Spartanburg     146296   140420       5876    4
2362        Sumter      44112    41794       2318  5.3
2363         Union      11759    11129        630  5.4
2364  Williamsburg      12389    11603        786  6.3
2365          York     133410   128109       5301    4